.title {
    color: #22dd89;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}

.block {
    margin: 1rem;
    padding: 1rem;
    background-color: #22dd89;
    text-align: center;
    border-radius: 0.5rem;
    width: 100%;
    cursor: pointer;
}

.links {
    text-decoration: none;
    color: white;
}

@media (min-width: 2560px) {

    .title {
        font-size: 3.5rem;
        padding-top: 2rem;
    }

    .info {
        font-size: 2.5rem;
        padding-top: 4rem;
    }

    .p {
        font-size: 2rem;
    }

}

@media (min-width: 1441px) and (max-width: 2559px) {
    .title {
        font-size: 2rem;
        padding-top: 4rem;
    }

    .info {
        font-size: 1.8rem;
        padding-top: 4rem;
    }

    .p {
        font-size: 1.5rem;
    }
}



@media (max-width: 425px) {
    .title {
        padding-top: 4rem;
        font-size: 1.3rem;
    }

    .container {
        font-size: 0.7rem;
    }

}

@media (max-width: 320px) {
    .container {
        font-size: 0.5rem;
    }

}